<script src="/js/config.js"></script>

<script src="/js/utils/constants.js"></script>

<script src="/js/utils/helpers.js"></script>

<script src="/js/storage.js"></script>

<script src="/js/app.js"></script>

<script src="/js/modules/ui/navigation.js"></script>

<script src="/js/modules/ui/sidebar.js"></script>

<script src="/js/modules/ui/modals.js"></script>

<script src="/js/modules/ui/dialogs.js"></script>

<script src="/js/modules/ui/notifications.js"></script>

<script src="/js/modules/ui/loading.js"></script>

<script src="/js/modules/ui/theme.js"></script>

<script src="/js/modules/ui/commandPalette.js"></script>

<script src="/js/modules/ui/componentLoader.js"></script>